<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Actions</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <% if can? :read, user %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td>Show | Edit | Delete </td>
  </tr>
  <% end %>
<% end %>
</table>

<br />
